*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(159, 88, 227);
    color:black;
    font-size: 1.2em;
}
.wrapper{
    width: 400px;
    margin: 100px auto;
    padding: 18px;
    border:1px solid black;
    border-radius: 8px;
}

.cta{
    background-color: white;
    padding: 12px;
    border:1px solid black;
    border-radius: 8px;
    margin-top:10px;
}
.container{
    width: 300px;
    margin: 100px auto;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1.1;
}
.container ul li {
    list-style-type: none;
}
.container ul li a{
    text-decoration: none;
}